.git
.gitignore
.dockerignore
.env
.env.prod
.env.testing
*.md
vendor
node_modules
public/build
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/private/*
storage/app/public/*
bootstrap/cache/*
grafana
prometheus.yml
docs
.idea
.vscode
*.log
